<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs')  %>


<body>
    <div class="container">


        <div class="panel1">
           <%- include('./partials/navbar')  %>
           <style>
                #Claims
                {
                    background-color: rgb(255, 255, 255);
                }
           </style>
        </div>


        <div class="panel2">

            <div class="header">header</div>

            <div class="main">
                <div class="mainContainer">
                    <div class="heading"><h1>Claims</h1></div>
                    
                    <div class="mainTBL">
                        
                    </div>
                </div>

                
            </div>

            
        </div>
    </div>
    
    
    
    
</body>
</html>
