<div class="navbar">
    <div class="nameApp"></div>
    <ul id="pageLinks">
        <li id="Dashboard"><a href="/">Dashboard</a></li>
        <li id="Clients"><a href="/clients">Manage Clients</a></li>
        <li id="Claims"><a href="/claims">Claims Management</a></li>
        <li id="Tracking"><a href="/tracking">Drone Tracking</a></li>
        <li id="Reports"><a href="">Reports</a></li>
    </ul>

    <div class="links" id="logout">
        <a href="">Log out</a>
    </div>

</div>